# Bar Chart Data Generate

In [1]:
import pandas as pd

In [2]:
chemistry = pd.read_csv("dataverse_files/Chemistry publication record.csv",parse_dates=['Prize year','Pub year'])
medicine = pd.read_csv("dataverse_files/Medicine publication record.csv",parse_dates=['Prize year','Pub year'])
physics = pd.read_csv("dataverse_files/Physics publication record.csv",parse_dates=['Prize year','Pub year'])
prize = pd.read_csv("dataverse_files/Prize-winning paper record.csv",parse_dates=['Prize year','Pub year'])

In [3]:
def describeDF(df):
    print(df.info())
    print()
    column = list(df.columns)
    print()
    print("dataframe shape: %s"%str(df.shape))
    print()
    for i in column:
        print("%s: "%i)
        try:
#             print(df[i].unique())
            print("unique %s count: "%i + str(len(df[i].unique())))
            print()
        except:
            print("exception")

In [4]:

describeDF(chemistry)
describeDF(medicine)
describeDF(physics)
describeDF(prize)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42657 entries, 0 to 42656
Data columns (total 10 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Laureate ID             42657 non-null  int64
 1   Laureate name           42657 non-null  object
 2   Prize year              42657 non-null  datetime64[ns]
 3   Title                   42657 non-null  object
 4   Pub year                42657 non-null  datetime64[ns]
 5   Paper ID                42651 non-null  float64
 6   DOI                     42630 non-null  object
 7   Journal                 42303 non-null  object
 8   Affiliation             34691 non-null  object
 9   Is prize-winning paper  42657 non-null  object
dtypes: datetime64[ns](2), float64(1), int64(1), object(6)
memory usage: 3.3+ MB
None


dataframe shape: (42657, 10)

Laureate ID:
unique Laureate ID count: 163

Laureate name:
unique Laureate name count: 161

Prize year:
unique Prize year count: 97

Title:
unique Title count: 41699

Pub year:
unique Pub year count: 128

Paper ID:
unique Paper ID count: 41966

DOI:
unique DOI count: 41947

Journal:
unique Journal count: 1456

Affiliation:
unique Affiliation count: 199

Is prize-winning paper:
unique Is prize-winning paper count: 2

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29233 entries, 0 to 29232
Data columns (total 10 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Laureate ID             29233 non-null  int64
 1   Laureate name           29233 non-null  object
 2   Prize year              29233 non-null  datetime64[ns]
 3   Title                   29233 non-null  object
 4   Pub year                29233 non-null  datetime64[ns]
 5   Paper ID                29224 non-null  float64
 6   DOI                     29118 non-null  object
 7   Journal                 28882 non-null  object
 8   Affiliation             22654 non-null  object
 9   Is prize-winning paper  29233 non-null  object
dtypes: datetime64[ns](2), float64(1), int64(1), object(6)
memory usage: 2.2+ MB
None


dataframe shape: (29233, 10)

Laureate ID:
unique Laureate ID count: 189

Laureate name:
unique Laureate name count: 189

Prize year:
unique Prize year count: 91

Title:
unique Title count: 28053

Pub year:
unique Pub year count: 143

Paper ID:
unique Paper ID count: 28231

DOI:
unique DOI count: 28130

Journal:
unique Journal count: 1623

Affiliation:
unique Affiliation count: 265

Is prize-winning paper:
unique Is prize-winning paper count: 2

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21504 entries, 0 to 21503
Data columns (total 10 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Laureate ID             21504 non-null  int64
 1   Laureate name           21504 non-null  object
 2   Prize year              21504 non-null  datetime64[ns]
 3   Title                   21503 non-null  object
 4   Pub year                21503 non-null  datetime64[ns]
 5   Paper ID                21486 non-null  float64
 6   DOI                     21448 non-null  object
 7   Journal                 20979 non-null  object
 8   Affiliation             18535 non-null  object
 9   Is prize-winning paper  21504 non-null  object
dtypes: datetime64[ns](2), float64(1), int64(1), object(6)
memory usage: 1.6+ MB
None


dataframe shape: (21504, 10)

Laureate ID:
unique Laureate ID count: 193

Laureate name:
unique Laureate name count: 193

Prize year:
unique Prize year count: 103

Title:
unique Title count: 19631

Pub year:
unique Pub year count: 134

Paper ID:
unique Paper ID count: 19869

DOI:
unique DOI count: 19827

Journal:
unique Journal count: 747

Affiliation:
unique Affiliation count: 162

Is prize-winning paper:
unique Is prize-winning paper count: 2

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 874 entries, 0 to 873
Data columns (total 8 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Field                   874 non-null    object
 1   Laureate ID             874 non-null    int64
 2   Laureate name           874 non-null    object
 3   Prize year              874 non-null    datetime64[ns]
 4   Title                   874 non-null    object
 5   Pub year                874 non-null    datetime64[ns]
 6   Paper ID                841 non-null    float64
 7   Additional information  39 non-null     object
dtypes: datetime64[ns](2), float64(1), int64(1), object(4)
memory usage: 54.8+ KB
None


dataframe shape: (874, 8)

Field:
unique Field count: 3

Laureate ID:
unique Laureate ID count: 545

Laureate name:
unique Laureate name count: 543

Prize year:
unique Prize year count: 107

Title:
unique Title count: 763

Pub year:
unique Pub year count: 112

Paper ID:
unique Paper ID count: 731

Additional information:
unique Additional information count: 10

In [5]:
from collections import Counter

In [6]:
chemistry
print('chemistry:'+ str(Counter(chemistry['Is prize-winning paper'])))
print('medicine:'+ str(Counter(medicine['Is prize-winning paper'])))
print('physics:'+ str(Counter(physics['Is prize-winning paper'])))
print('prize:'+ str(Counter(prize['Field'])))

chemistry:Counter({'NO': 42398, 'YES': 259})
medicine:Counter({'NO': 28901, 'YES': 332})
physics:Counter({'NO': 21221, 'YES': 283})
prize:Counter({'Medicine': 332, 'Physics': 283, 'Chemistry': 259})

In [7]:
print(chemistry.duplicated().sum())
print(medicine.duplicated().sum())
print(physics.duplicated().sum())
print(prize.duplicated().sum())

0
0
0
0

In [8]:
display(chemistry.sample(3))
display(medicine.sample(3))
display(physics.sample(3))
display(prize.sample(3))

,Laureate ID,Laureate name,Prize year,Title,Pub year,Paper ID,DOI,Journal,Affiliation,Is prize-winning paper
12168,20036,"tanaka, k",2002-01-01,ft pulsed and cw epr studies of stable molecul...,1995-01-01,1.985996e+09,10.1080/10587259508034050,molecular crystals and liquid crystals,kansai university,NO
6319,20018,"suzuki, a",2010-01-01,vinylic organoboranes 1 a convenient synthesis...,1986-01-01,2.014587e+09,10.1021/jo00374a002,journal of organic chemistry,kyushu university,NO
29272,20079,"hoffmann, r",1981-01-01,one molecule two atoms three views four bonds,2013-01-01,2.127094e+09,10.1002/anie.201208206,angewandte chemie,cornell university,NO

,Laureate ID,Laureate name,Prize year,Title,Pub year,Paper ID,DOI,Journal,Affiliation,Is prize-winning paper
8278,30041,greengar.p,2000-01-01,antibodies to synaptophysin interfere with tra...,1992-01-01,1.985574e+09,10.1016/0896-6273(92)90038-F,neuron,rockefeller university,NO
19519,30091,"schally, av",1977-01-01,a targeted cytotoxic somatostatin sst analogue...,2001-01-01,2.169378e+09,10.1016/S0959-8049(00)00437-8,european journal of cancer,tulane university,NO
10495,30047,"prusiner, sb",1997-01-01,prion protein gene expression in cultured cells,1988-01-01,2.033833e+09,10.1093/protein/2.1.69,protein engineering,university of california san francisco,NO

,Laureate ID,Laureate name,Prize year,Title,Pub year,Paper ID,DOI,Journal,Affiliation,Is prize-winning paper
21221,10180,"einstein, a",1921-01-01,a comment on a criticism of unified field theory,1953-01-01,1.971706e+09,10.1103/PhysRev.89.321,physical review,institute for advanced study,NO
621,10006,"akasaki, isamu",2014-01-01,polarization of light from an optically pumped...,1994-01-01,1.963683e+09,10.1016/0921-5107(94)90174-0,materials science and engineering b advanced f...,meijo university,NO
11952,10070,"paul, w",1989-01-01,das elektrische massenfilter als massenspektro...,1958-01-01,1.495574e+09,10.1007/BF01327353,european physical journal,university of bonn,NO

,Field,Laureate ID,Laureate name,Prize year,Title,Pub year,Paper ID,Additional information
322,Chemistry,20023,"tsien, r",2008-01-01,crystal structure of the aequorea victoria gre...,1996-01-01,2.161997e+09,NaN
252,Physics,10175,gustav hertz,1925-01-01,the kinetics of electrons and ions in gases,1916-01-01,NaN,After the publication of Niels Bohr's theory o...
538,Chemistry,20161,"richards, t",1914-01-01,a revision of the atomic weights of sodium and...,1905-01-01,2.077742e+09,NaN

In [9]:
chemistry['subject'] = "chemistry"
medicine['subject'] = "medicine"
physics['subject'] = "physics"

In [ ]:
fulldata = pd.concat([chemistry,medicine,physics])

In [ ]:
chemistry['Prize year'] = chemistry['Prize year'].dt.year
chemistry['Pub year'] = chemistry['Pub year'].dt.year
medicine['Prize year'] = medicine['Prize year'].dt.year
medicine['Pub year'] = medicine['Pub year'].dt.year
physics['Prize year'] = physics['Prize year'].dt.year
physics['Pub year'] = physics['Pub year'].dt.year
prize['Prize year'] = prize['Prize year'].dt.year
prize['Pub year'] = prize['Pub year'].dt.year
fulldata['Prize year'] = fulldata['Prize year'].dt.year
fulldata['Pub year'] = fulldata['Pub year'].dt.year

In [ ]:
prize['prize_pub_year'] = prize['Prize year'] - prize['Pub year']

In [ ]:
prize['prize_pub_year'].describe()

In [ ]:
prize.sort_values('prize_pub_year',ascending=True)[:3]['Title'].to_list()

In [ ]:
prize.sort_values('prize_pub_year',ascending=True)[:3]

In [ ]:
prize.loc[prize['Title']=='xxxvii on the constitution of atoms and molecules','Pub year'] = 1913
prize.loc[prize['Title']=="Wien's displacement law",'Pub year'] = 1893
prize.loc[prize['Title']=="researches with the dropping mercury cathode part ii the polarograph",'Pub year'] = 1923

In [ ]:
#重新计算正确的
prize['prize_pub_year'] = prize['Prize year'] - prize['Pub year']

In [ ]:
prize_pub_year_field = prize.groupby(['Field','prize_pub_year']).nunique().Title.to_frame().reset_index().rename(columns={'Title':'paper_count'})

In [ ]:
prize_pub_year_field

In [ ]:
prize_pub_year_all = prize.groupby(['prize_pub_year']).nunique().Title.to_frame().reset_index().rename(columns={'Title':'paper_count'})

In [ ]:
prize_pub_year_all

In [ ]:
prize_pub_year_all.to_csv("prize_pub_year_all.csv",index=False)

# Affliation Laureate Count

In [ ]:
author_affiliation = fulldata.groupby(["Laureate ID","Affiliation"]).count().reset_index()[['Laureate ID','Affiliation']]

In [ ]:
author_affiliation

In [ ]:
from collections import Counter

In [ ]:
author_affiliation_count = Counter(author_affiliation['Affiliation'])

In [ ]:
university_10 = pd.DataFrame(author_affiliation_count.most_common()[:10], columns=['University', 'Count'])

# Chord Data Generate

In [ ]:
fulldata

In [ ]:
fulldata[fulldata['Is prize-winning paper']=='YES']

In [ ]:
uni_list = university_10['University'].to_list()

In [ ]:
laureate_10 = fulldata[fulldata['Affiliation'].isin(uni_list)].fillna(0).reset_index().drop('index',axis=1)

In [ ]:
#10间机构里面的所有诺贝尔得主
laureate_10 = laureate_10.drop_duplicates(subset='Laureate ID',keep='first')

In [ ]:
pivot_table = pd.pivot_table(laureate_10, 
                             values='Laureate ID', 
                             index='Affiliation', 
                             columns='subject', 
                             aggfunc='nunique',
                             fill_value=0)

In [ ]:
pivot_table.sum()

In [ ]:
import copy
# order = copy.deepcopy(uni_list)
# order.append('chemistry')
# order.append('medicine')
# order.append('physics')

order = copy.deepcopy(uni_list)
order.insert(0,'chemistry')
order.insert(0,'medicine')
order.insert(0,'physics')

In [ ]:
order
order=['medicine',
     'physics',
     'chemistry',
       'princeton university',
        'yale university',
        'national institutes of health',
        'rockefeller university',
       'max planck society',
        'university of california berkeley',
       'california institute of technology',
        'stanford university',
       'university of cambridge',
 'harvard university' ]

In [ ]:
order

In [ ]:
new_df = pivot_table.reindex(columns=order, index=order).fillna(0)

In [ ]:
new_df

In [ ]:
new_df.values.tolist()

In [ ]:
#弦图数据
test = new_df.T
symmetric_matrix = new_df + test
symmetric_matrix.values.tolist()