In [1]:
import pandas as pd

In [4]:
chemistry = pd.read_csv("dataverse_files/Chemistry publication record.csv")
medicine = pd.read_csv("dataverse_files/Medicine publication record.csv")
physics = pd.read_csv("dataverse_files/Physics publication record.csv")
prize = pd.read_csv("dataverse_files/Prize-winning paper record.csv")

In [6]:
def describeDF(df):
    print(df.info())
    print()
    column = list(df.columns)
    print()
    print("dataframe shape: %s"%str(df.shape))
    print()
    for i in column:
        print("%s: "%i)
        try:
#             print(df[i].unique())
            print("unique %s count: "%i + str(len(df[i].unique())))
            print()
        except:
            print("exception")

In [8]:

describeDF(chemistry)
describeDF(medicine)
describeDF(physics)
describeDF(prize)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42657 entries, 0 to 42656
Data columns (total 10 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Laureate ID             42657 non-null  int64
 1   Laureate name           42657 non-null  object
 2   Prize year              42657 non-null  int64
 3   Title                   42657 non-null  object
 4   Pub year                42657 non-null  int64
 5   Paper ID                42651 non-null  float64
 6   DOI                     42630 non-null  object
 7   Journal                 42303 non-null  object
 8   Affiliation             34691 non-null  object
 9   Is prize-winning paper  42657 non-null  object
dtypes: float64(1), int64(3), object(6)
memory usage: 3.3+ MB
None


dataframe shape: (42657, 10)

Laureate ID:
unique Laureate ID count: 163

Laureate name:
unique Laureate name count: 161

Prize year:
unique Prize year count: 97

Title:
unique Title count: 41699

Pub year:
unique Pub year count: 128

Paper ID:
unique Paper ID count: 41966

DOI:
unique DOI count: 41947

Journal:
unique Journal count: 1456

Affiliation:
unique Affiliation count: 199

Is prize-winning paper:
unique Is prize-winning paper count: 2

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29233 entries, 0 to 29232
Data columns (total 10 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Laureate ID             29233 non-null  int64
 1   Laureate name           29233 non-null  object
 2   Prize year              29233 non-null  int64
 3   Title                   29233 non-null  object
 4   Pub year                29233 non-null  int64
 5   Paper ID                29224 non-null  float64
 6   DOI                     29118 non-null  object
 7   Journal                 28882 non-null  object
 8   Affiliation             22654 non-null  object
 9   Is prize-winning paper  29233 non-null  object
dtypes: float64(1), int64(3), object(6)
memory usage: 2.2+ MB
None


dataframe shape: (29233, 10)

Laureate ID:
unique Laureate ID count: 189

Laureate name:
unique Laureate name count: 189

Prize year:
unique Prize year count: 91

Title:
unique Title count: 28053

Pub year:
unique Pub year count: 143

Paper ID:
unique Paper ID count: 28231

DOI:
unique DOI count: 28130

Journal:
unique Journal count: 1623

Affiliation:
unique Affiliation count: 265

Is prize-winning paper:
unique Is prize-winning paper count: 2

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21504 entries, 0 to 21503
Data columns (total 10 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Laureate ID             21504 non-null  int64
 1   Laureate name           21504 non-null  object
 2   Prize year              21504 non-null  int64
 3   Title                   21503 non-null  object
 4   Pub year                21503 non-null  float64
 5   Paper ID                21486 non-null  float64
 6   DOI                     21448 non-null  object
 7   Journal                 20979 non-null  object
 8   Affiliation             18535 non-null  object
 9   Is prize-winning paper  21504 non-null  object
dtypes: float64(2), int64(2), object(6)
memory usage: 1.6+ MB
None


dataframe shape: (21504, 10)

Laureate ID:
unique Laureate ID count: 193

Laureate name:
unique Laureate name count: 193

Prize year:
unique Prize year count: 103

Title:
unique Title count: 19631

Pub year:
unique Pub year count: 134

Paper ID:
unique Paper ID count: 19869

DOI:
unique DOI count: 19827

Journal:
unique Journal count: 747

Affiliation:
unique Affiliation count: 162

Is prize-winning paper:
unique Is prize-winning paper count: 2

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 874 entries, 0 to 873
Data columns (total 8 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Field                   874 non-null    object
 1   Laureate ID             874 non-null    int64
 2   Laureate name           874 non-null    object
 3   Prize year              874 non-null    int64
 4   Title                   874 non-null    object
 5   Pub year                874 non-null    int64
 6   Paper ID                841 non-null    float64
 7   Additional information  39 non-null     object
dtypes: float64(1), int64(3), object(4)
memory usage: 54.8+ KB
None


dataframe shape: (874, 8)

Field:
unique Field count: 3

Laureate ID:
unique Laureate ID count: 545

Laureate name:
unique Laureate name count: 543

Prize year:
unique Prize year count: 107

Title:
unique Title count: 763

Pub year:
unique Pub year count: 112

Paper ID:
unique Paper ID count: 731

Additional information:
unique Additional information count: 10

In [10]:
from collections import Counter

In [18]:
chemistry
print('chemistry:'+ str(Counter(chemistry['Is prize-winning paper'])))
print('medicine:'+ str(Counter(medicine['Is prize-winning paper'])))
print('physics:'+ str(Counter(physics['Is prize-winning paper'])))
print('prize:'+ str(Counter(prize['Field'])))

chemistry:Counter({'NO': 42398, 'YES': 259})
medicine:Counter({'NO': 28901, 'YES': 332})
physics:Counter({'NO': 21221, 'YES': 283})
prize:Counter({'Medicine': 332, 'Physics': 283, 'Chemistry': 259})

In [22]:
print(chemistry.duplicated().sum())
print(medicine.duplicated().sum())
print(physics.duplicated().sum())
print(prize.duplicated().sum())

0
0
0
0

In [24]:
display(chemistry.sample(3))
display(medicine.sample(3))
display(physics.sample(3))
display(prize.sample(3))

,Laureate ID,Laureate name,Prize year,Title,Pub year,Paper ID,DOI,Journal,Affiliation,Is prize-winning paper
18316,20053,"molina, m",1995,a theoretical study of the interaction of hcl ...,2002,1.968320e+09,10.1021/jp0144754,journal of physical chemistry a,university of california san diego,NO
32219,20086,"prigogine, i",1977,quantum chaos complex spectral representations...,1994,2.094877e+09,10.1016/0960-0779(94)90050-7,chaos solitons & fractals,NaN,NO
36190,20098,"barton, d",1969,a convenient alternative to the beckmann rearr...,1971,2.091626e+09,10.1039/C29710000945,journal of the chemical society d chemical com...,NaN,NO

,Laureate ID,Laureate name,Prize year,Title,Pub year,Paper ID,DOI,Journal,Affiliation,Is prize-winning paper
11823,30054,"gilman, ag",1994,biochemical properties of hormone sensitive ad...,1980,2.178536e+09,10.1146/annurev.bi.49.070180.002533,annual review of biochemistry,NaN,NO
22555,30104,"edelman, gm",1972,topology of cell adhesion molecules,1989,2.051429e+09,10.1073/pnas.86.3.1088,proceedings of the national academy of science...,the neurosciences institute,NO
23619,30114,"khorana, hg",1968,rhodopsin kinase two mabs binding near the car...,2000,2.105667e+09,10.1073/pnas.97.7.3010,proceedings of the national academy of science...,massachusetts institute of technology,NO

,Laureate ID,Laureate name,Prize year,Title,Pub year,Paper ID,DOI,Journal,Affiliation,Is prize-winning paper
16722,10105,"hewish, a",1974,observations of some further pulsed radio sources,1968.0,1.974919e+09,10.1038/218126a0,nature,NaN,NO
17190,10111,"bardeen, j",1972,wave functions for superconducting electrons,1950.0,2.032914e+09,10.1103/PhysRev.80.567,physical review,university of illinois at urbana champaign,NO
8313,10048,"stormer, hl",1998,transport anomalies in the lowest landau level...,1989.0,1.986148e+09,10.1103/PhysRevB.40.12013,physical review b,columbia university,NO

,Field,Laureate ID,Laureate name,Prize year,Title,Pub year,Paper ID,Additional information
46,Physics,10035,"leggett, aj",2003,the spin dynamics of an anisotropic fermi supe...,1974,2.066009e+09,NaN
348,Chemistry,20040,"sharpless, k",2001,the first practical method for asymmetric epox...,1980,1.968125e+09,NaN
729,Medicine,30109,"katz, b",1970,the effect of sodium ions on the electrical ac...,1949,2.097400e+09,NaN

In [29]:
chemistry['subject'] = "chemistry"
medicine['subject'] = "medicine"
physics['subject'] = "physics"

In [31]:
fulldata = pd.concat([chemistry,medicine,physics])

In [43]:
fulldata[(fulldata['Laureate ID']==20001) & (fulldata['Is prize-winning paper']=="YES")]

,Laureate ID,Laureate name,Prize year,Title,Pub year,Paper ID,DOI,Journal,Affiliation,Is prize-winning paper,subject
0,20001,"stoddart, j",2016,a molecular shuttle,1991.0,1.976039e+09,10.1021/ja00013a096,journal of the american chemical society,northwestern university,YES,chemistry

In [48]:
fulldata[fulldata['Laureate ID'].duplicated(keep='first')]

,Laureate ID,Laureate name,Prize year,Title,Pub year,Paper ID,DOI,Journal,Affiliation,Is prize-winning paper,subject
1,20001,"stoddart, j",2016,chemical synthesis of nanostructures,1993.0,1.963538e+09,10.1557/PROC-330-57,mrs proceedings,northwestern university,NO,chemistry
2,20001,"stoddart, j",2016,formation and x ray crystal structure of pt h2...,1981.0,1.963552e+09,10.1039/C39810000851,journal of the chemical society chemical commu...,northwestern university,NO,chemistry
3,20001,"stoddart, j",2016,single walled carbon nanotubes under the influ...,2005.0,2.095637e+09,10.1002/smll.200400070,small,northwestern university,NO,chemistry
4,20001,"stoddart, j",2016,synthesis of medium heterocyclic rings from 6 ...,1974.0,2.095679e+09,10.1016/S0008-6215(00)82105-9,carbohydrate research,northwestern university,NO,chemistry
5,20001,"stoddart, j",2016,a stereoselective synthesis of xylitol,1982.0,1.963704e+09,10.1016/S0040-4039(00)85841-4,tetrahedron letters,northwestern university,NO,chemistry
...,...,...,...,...,...,...,...,...,...,...,...
21498,10192,"lenard, p",1905,uber die lichtelektrische und aktinodielektris...,1909.0,2.081826e+09,10.1002/andp.19093330303,annalen der physik,NaN,NO,physics
21500,10193,"zeeman, p",1902,The Influence of a Magnetic Field on Radiation...,1896.0,NaN,NaN,NaN,NaN,YES,physics
21501,10193,"zeeman, p",1902,zur hyperfeinstruktur des wismuts,1930.0,2.058955e+09,10.1007/BF01397521,european physical journal,NaN,NO,physics
21502,10193,"zeeman, p",1902,on the spectrum of ionised potassium in connex...,1924.0,2.013742e+09,10.1038/114352a0,nature,university of amsterdam,NO,physics
21503,10193,"zeeman, p",1902,on a connexion between the spectra of argon an...,1925.0,2.033830e+09,10.1038/115116b0,nature,university of amsterdam,NO,physics

In [50]:
fulldata

,Laureate ID,Laureate name,Prize year,Title,Pub year,Paper ID,DOI,Journal,Affiliation,Is prize-winning paper,subject
0,20001,"stoddart, j",2016,a molecular shuttle,1991.0,1.976039e+09,10.1021/ja00013a096,journal of the american chemical society,northwestern university,YES,chemistry
1,20001,"stoddart, j",2016,chemical synthesis of nanostructures,1993.0,1.963538e+09,10.1557/PROC-330-57,mrs proceedings,northwestern university,NO,chemistry
2,20001,"stoddart, j",2016,formation and x ray crystal structure of pt h2...,1981.0,1.963552e+09,10.1039/C39810000851,journal of the chemical society chemical commu...,northwestern university,NO,chemistry
3,20001,"stoddart, j",2016,single walled carbon nanotubes under the influ...,2005.0,2.095637e+09,10.1002/smll.200400070,small,northwestern university,NO,chemistry
4,20001,"stoddart, j",2016,synthesis of medium heterocyclic rings from 6 ...,1974.0,2.095679e+09,10.1016/S0008-6215(00)82105-9,carbohydrate research,northwestern university,NO,chemistry
...,...,...,...,...,...,...,...,...,...,...,...
21499,10193,"zeeman, p",1902,The Effect of Magnetisation on the Nature of L...,1897.0,NaN,NaN,NaN,NaN,YES,physics
21500,10193,"zeeman, p",1902,The Influence of a Magnetic Field on Radiation...,1896.0,NaN,NaN,NaN,NaN,YES,physics
21501,10193,"zeeman, p",1902,zur hyperfeinstruktur des wismuts,1930.0,2.058955e+09,10.1007/BF01397521,european physical journal,NaN,NO,physics
21502,10193,"zeeman, p",1902,on the spectrum of ionised potassium in connex...,1924.0,2.013742e+09,10.1038/114352a0,nature,university of amsterdam,NO,physics
21503,10193,"zeeman, p",1902,on a connexion between the spectra of argon an...,1925.0,2.033830e+09,10.1038/115116b0,nature,university of amsterdam,NO,physics

In [54]:
len(fulldata['Laureate ID'].unique())

545